.allpost_body {
  justify-content: center;
  min-height: 100vh;
  min-height: 100vh;
}
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px; 
    text-align: left;
    margin-right: 15px;
    margin-left: 15px;
    padding: 10px;
  }
  
  .grid-container > div {
    max-width: 45vh;
    padding: 8px;
    border: 1px solid black;
    /* box-shadow: 0px 8px 0px 5px rgba(0, 0, 0, 0.16); */
  }
  

.product__cardbody{
    border-left: 5px solid #ffce32;
    padding-left: 10px;
}

h1{
  margin-left: 40px ;
}