.createad_body {
    min-height: 100vh;
    min-width: 100vh;
  }
  
  .createad_card{
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: black;
    padding: 30px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    border-radius: 5px;

    box-shadow: 10px 10px 80px black; 

  }

  .createad_view{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    min-width: 100vh;
  }
  
  .createad_header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 10px 0 10px 0;
    z-index: 100;
  }

  .createad_input{
    border: 2px solid black;
    border-radius: 5px;
    height: 3vh;
    width: 40vh;
    padding: 5px;

  }

  .createad_des{
    border: 2px solid black;
    border-radius: 5px;
    height: 7vh;
    width: 40vh;
    padding: 5px;
  }

.createad_btn{
    border-radius: 5px;
    width: 400px;
    padding: 8px;
    background-color: wheat;
    transition: 1s all;
  }

.createad_btn:hover{
  background-color: #333;
  color: wheat;
  transition: 1s all;
}
