.createad_body {
    min-height: 100vh;
    min-width: 100vh;
  }
  
  .createad_card{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    margin: 20px;
    border: 2px solid grey;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    min-width: 100vh;
  }

  .createad_view{
    min-height: 100vh;
    min-width: 100vh;
  }
  
  .createad_header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 10px 0 10px 0;
    z-index: 100;
  }

  .createad_input{
    border: 2px solid black;
    border-radius: 5px;
    height: 3vh;
    width: 40vh;
    padding: 5px;
  }

  .createad_des{
    border: 2px solid black;
    border-radius: 5px;
    height: 7vh;
    width: 40vh;
    padding: 5px;
  }

.createad_btn{
    border-radius: 5px;
    height: 3vh;
    width: 40vh;
    padding: 10px;
  }

.createad_btn:hover{
  color: blue;
}
