.details_app{
    min-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.details_body{

    text-align: center;
    min-height: 100vh;
    min-height: 100vh;
}

.details_header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 10px 0 10px 0;
    z-index: 100;
  }