.App {
    justify-content: center;
    min-height: 100vh;
    min-height: 100vh;
  }

  .headder{
    border-bottom: 2px solid lightgray;
    position: sticky !important;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 10px 0 10px 0;
    z-index: 100;
  }

.footer{
  padding: 10px;
  text-align: bottom;
}

.user{
  display: flex;
  text-align: left;
  color: black;
  background-color: transparent;
  border: none;
  font-size: large;
}

.user:hover{
  color:mediumblue;
}

.logout{
  display: auto;
  background-color: red;
  color: white;
  text-align: right;
  font-size: large;
  padding: 10px;
  border-top-left-radius: 5px;
}

.logout:hover{
  color: red;
  background-color: white;
}

.login{
  display: auto;
  background-color: blue;
  color: white;
  text-align: right;
  font-size: large;
  padding: 10px;
  border-top-left-radius: 5px;
}

.login:hover{
  color: blue;
  background-color: white;
}

.search{
  width: 60%;
  border: 2px solid black;
  padding: 12px;
  border-top-left-radius: 5px;
}

.searchButton{
  background-color: black;
  color: white;
  padding: 12px;
  border-top-left-radius: 5px;
}

.searchButton:hover{
  background-color: white;
  color: black;
}
