.currentUserAds_body {
    justify-content: center;
    min-height: 100vh;
    min-height: 100vh;
  }
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 20px; 
      text-align: left;
      margin-right: 15px;
      margin-left: 15px;
      padding: 10px;
      justify-content: center;
    }
    
    .grid-container > div {
      max-width: 45vh;
      padding: 20px;
      border: 1px solid lightgray;
      overflow: hidden;
      box-shadow: 5px 5px 10px lightgray; 
      border-radius: 5px;
    }
    
  
  .product__cardbody{
      border-left: 5px solid #ffce32;
      padding-left: 10px;
      min-width: none;
  }
  
  h1{
    margin-left: 40px ;
  }

.currrentUserAds_headder{
  position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 10px 0 10px 0;
    z-index: 100;
}
  