.App {
    justify-content: center;
    min-height: 100vh;
    min-height: 100vh;
  }

  .headder{
    border-bottom: 2px solid lightgray;
    position: sticky !important;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 10px 0 10px 0;
    z-index: 100;
  }