.auth_body{
    min-height: 100vh;
    min-width: 100vh;
  }
  
  .auth_card{
    background-color: #333;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 40vh;
    min-width: 35vh;
    padding: 30px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    border-radius: 20px;
    border: 1px solid wheat;
    box-shadow: 5px 5px 100px black; 
  }
  
  .auth_view{
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vh;
  }
  
  .auth_btn{
    border-radius: 5px;
    width: 400px;
    padding: 8px;
    border-radius: 5px;
    background-color: wheat;
    transition: 1s all;
  }

.auth_btn:hover{
  background-color: #333;
  color: wheat;
  transition: 0.5s all;
}

.auth_input{
  border: 2px solid black;
  border-radius: 5px;
  height: 3vh;
  width: 40vh;
  padding: 5px;
}